@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Almarai', sans-serif;
   
   
  
     
}

:root{
    --color1 : #54BAB9;
    --color2 : #1B1D1F;
    --color3 : #6D737A;
    --color4 : #E7F6F2;
    --color5 : #395B64;
    --color6 : #F9F9F9;
    --color7 : #676767;
    --color8 :#FF9000;
    
    
}
.btn
,input
,textarea{
    box-shadow: none !important;
}

a{
    text-decoration: none !important;
    color: black !important;
    
}

p{
    font-size: 16px;
}
/* land-sec */

.land-sec{
    position: relative;
   
   
}
 .land-sec .img-bac{
  position: absolute;
  z-index: -100;
  left: 0;
top: 0;
 height: 100%;
} 
.land-sec .five-img{
    position: absolute;
    z-index: -100;
    right: 0;
  top: 10px;
  
  } 
  .land-sec .five-img1{
    position: absolute;
    z-index: -100;
    right: 0;
  top: 550px;
  
  } 
 .head-style{
    color: var(--color1);
}
 .footer-logo{
    color: var(--color1) !important;
    font-size: 30px;
    line-height: 49px;
    font-weight: bolder !important;
}
.btn-primary{
    color: white !important;
}

 .hov:hover{
    color: var(--color8) !important;
}
@media (max-width : 1000px) {
    .nav-off{
        display: none;
    }
    .ofn-on{
        display: block !important;
    }
    header .nav .active-page::after {

        top: 5px;
        left: 100%;
        right: 0%;
        width: 1px;
        height: 30px;
        
     }
    
}
.headact{
    color: var(--color8) !important;
}

.nav-link{
    padding: 0.5rem 0.8rem !important;
}

 .offcanvas-start
{
    transition: all 2s 0.5s;
    -webkit-transition: all 2s 0.5s;
    -moz-transition: all 2s 0.5s;
    -ms-transition: all 2s 0.5s;
    -o-transition: all 2s 0.5s;
}
.land-sec .offcanvas-start .btn-close{
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}
.land-sec .offcanvas-start .offcanvas-header{
    background-color: #ababab09;
}



#myheader{
    transition: all 1s 0.3s;
    -webkit-transition: all 1s 0.3s;
    -moz-transition: all 1s 0.3s;
    -ms-transition: all 1s 0.3s;
    -o-transition: all 1s 0.3s;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    
  
  }
  
  .sticky  > .con{
  margin-top: 1rem !important;
  
  
  }
  .sticky  > .nav{
  
    padding-top: 0px !important;
  
  }
  
  .sticky  > .nav{
  
    padding-top: 0px !important;
  
  }
  .whba{
    background-color: white !important;
    height: 85px;
    box-shadow: -1px 0px 5px rgb(57 63 72 / 30%);

  
  
  
  }
  



/* small-sec */
.small-sec{
    margin-bottom: 5rem;
}
.small-sec .around-icon{
    width: 85px;
    height: 85px;
    background-color: var(--color4);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-sec .back-ico{
    background: #FCFCFC;
    border-radius: 16px;
    padding: 16px 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.small-sec .back-ico:hover{
    box-shadow: 0 3px 25px #cccdcf;
}

/* top-sec */


.top-sec{
    margin-bottom: 15rem;
}
.top-sec .col-xl-4 .head-style::before{
    content: "";
    position: absolute;
    z-index: -1;
    background-color: var(--color4);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: 95%;
    top: 50px;
    
   
}

@media (max-width : 500px ) {
    .top-sec .col-xl-4{
        overflow-x: hidden;
    }
}
.top-sec .head-style {
    position: relative;
    
}
.top-sec .col-xl-4 .head-style::after{
    content: "";
    position: absolute;
    z-index: -1;
    background-color: var(--color4);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    right: 80%;
    top: -10px;
   
}

 .socil-icon div{
    width: 46px;
    height: 46px;
    background: var(--color4) ;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

 .socil-icon div i{
 color: var(--color1);
 font-size: 18px;

}

 .socil-icon div:hover{
    background: var(--color1) ;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}

 .socil-icon div:hover  i{
    color: #fff ;
}

.top-sec .col-xl-5:hover{
    opacity: .5;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.top-sec .col-xl-5{
    position: relative;
 
}

.top-sec .col-xl-5 .ico{

    position: absolute;
    top: 50%;
    right: 38%;
    transform: translate(-50% ,-50%);
    -webkit-transform: translate(-50% ,-50%);
    -moz-transform: translate(-50% ,-50%);
    -ms-transform: translate(-50% ,-50%);
    -o-transform: translate(-50% ,-50%);
    font-size: 50px;
    
}
.top-sec h6{
    color: var(--color8);
}

/* cards */


.cards{
    margin-bottom: 10rem;
}
.cards .head-style h2{
    color: var(--color1);
    font-weight: bolder !important;
    margin-bottom: 5rem;
   
}
.cards .head-style {
    position: relative;
    
}
.cards .head-style::before{
    content: "";
    position: absolute;
    z-index: -1;
    background-color: var(--color4);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: 57%;
    top: 7px;
   
}
.cards .head-style::after{
    content: "";
    position: absolute;
    z-index: -1;
    background-color: var(--color4);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    right: 57%;
    top: -6px;
   
}


.cards .col-lg-3{
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.cards .over-num{
    position: relative;
}

.cards .over-num .num {
    font-size: 191px;
line-height: 204px;
color: #F2F2F2;
position: absolute;
z-index: -4;
top: -30px;
left: 10%;
font-weight: bolder;
}

.cards .over-num .around-icon{
    width: 64px;
    height: 64px;
    background-color: var(--color4);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.cards .col-lg-3:hover{
 background-color: var(--color1);
 color: white;
 transition: all 1s .2s;
 -webkit-transition: all 1s .2s;
 -moz-transition: all 1s .2s;
 -ms-transition: all 1s .2s;
 -o-transition: all 1s .2s;
}
.cards .col-lg-3:hover .around-icon{
    background-color: white;
}

.cards .col-lg-3:hover  .over-num .num {
    z-index: 4;
    
}

.cards .col-lg-3:hover .word-ind{
    position: relative;
    z-index: 6;
}
/* tabs */

.tabs{
    margin-bottom: 10rem;
}


.tabs .dif{
    background-color: var(--color1);
    color: white !important;
}
.tabs .dif p
,.tabs .dif span{
    color: white !important;
}
  .tabs .dif .btn-danger{
    background-color: white !important;
    border-color:  white !important ;
    color: var(--color1) !important;
   
}
.tabs .btn-danger:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    
}

.ca .btn-outline-light{
    font-size: 1.25rem !important;
}

.p-font{
    color: #767676;
    font-size: 15px;
}

.list-icon div{
    height: 35px;
}
.tabs .head-style h2{
    color: var(--color1);
    font-weight: bolder !important;
    margin-bottom: 5rem;
   
}
.tabs .head-style {
    position: relative;
    
}
.tabs .head-style::before{
    content: "";
    position: absolute;
    z-index: -1;
    background-color: var(--color4);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: 53%;
    top: 7px;
   
}
.tabs .head-style::after{
    content: "";
    position: absolute;
    z-index: -1;
    background-color: var(--color4);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    right: 53%;
    top: -6px;
   
}

.tabs .btn-danger{
    background-color: var(--color8) !important;
    color: white !important;
    border-color: var(--color8) !important;
    transition: all 0.4s  ;
    -webkit-transition: all 0.4s  ;
    -moz-transition: all 0.4s  ;
    -ms-transition: all 0.4s  ;
    -o-transition: all 0.4s  ;

}
.tabs h1{
    color: var(--color8);
}

.tabs .smdiv h1{
    color: #9B03D0 !important;
}

.tabs .dif h1{
    color: white;
}
.tabs .smdiv .btn-danger{
    background-color: #9B03D0 !important;
    color: white !important;
    border-color: #9B03D0 !important;
    transition: all 0.4s  ;
    -webkit-transition: all 0.4s  ;
    -moz-transition: all 0.4s  ;
    -ms-transition: all 0.4s  ;
    -o-transition: all 0.4s  ;
} 

.tabs .nav-link {
    color: #D2D2D2 !important;
    position: relative;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
letter-spacing: -0.361111px;
font-weight: bolder;


  
}
.tabs .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #D2D2D2;
    right: 0;
    bottom: 0;
   
}

.tabs .nav-pills .nav-link.active,
 .nav-pills .show>.nav-link {
    color: black !important;
    background-color: transparent !important;
    border: none !important;
  
}
.tabs .nav-pills .nav-link.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color:  black ;
    right: 0;
    bottom: 0;
   
}

/* first-slider */
.first-slider{
    margin-bottom: 10rem;
}
.first-slider .head-style h2{
    color: var(--color1);
    font-weight: bolder !important;
    margin-bottom: 5rem;
   
   
}

.first-slider .head-style {
    position: relative;
    
}
.first-slider .head-style::before{
    content: "";
    position: absolute;
    z-index: -1;
    background-color: var(--color4);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: 55%;
    top: 7px;
   
}
.first-slider .head-style::after{
    content: "";
    position: absolute;
    z-index: -1;
    background-color: var(--color4);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    right: 55%;
    top: -6px;
   
}

.first-slider .slide-img{
    position: relative;
  
}
.first-slider .slide-img-over{
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    
}
.first-slider .slide-img:hover  .slide-img-over {
    display: none;
}
.first-slider .slide-img:hover  .slide-img-over-hover {
    display: flex;
    justify-content: center;
    align-items: center ;
}
.first-slider .slide-img-over-hover{
    position: absolute;
    z-index: 1;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3225) 0%, rgba(0, 0, 0, 0.75) 100%);
    height: 100%;
    width: 100%;
    display: none;

    
}
.first-slider .slide-word-over{
  position: absolute;
  z-index: 7;
  bottom: 20px ;
  margin-right: 20px;
 
  
}
.btn-outline-light:hover{
    color: black !important;
}

.first-slider .slidicon{
    width: 44px;
    height: 44px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border-radius:50% ;
    background-color: #DADADA;
    -webkit-border-radius:4px ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.first-slider .slidicon:hover{
    
    background-color: var(--color1);
  
    
}


/* sec-slider */

.sec-slider{
    background-color: var(--color6);
}

.sec-slider .aroundimg{
    width: 114px;
    height: 114px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
}
.sec-slider h2{
    color: var(--color1);
    font-weight: bolder !important;
}

.sec-slider p{
    color: var(--color7);
    line-height: 30px;
    font-weight: lighter;
    font-size: 16px;
}

.carousel-control-next , .carousel-control-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color5) !important;
        font-size: 30px;
        text-align: center;
        background: 0 0;
        border: 0;
        opacity: .9 !important;
        font-weight: bolder !important;
      
}
.carousel-control-next:hover
 , .carousel-control-prev:hover{
    color: var(--color1) !important;
 }

 .sec-slider .slidicon{
    width: 65px;
    height: 65px;
    border-radius:50% ;
    background-color: var(--color4);
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    padding: 10px;
}

/* app */

.app .border{
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    border: 0.5px solid #DFDFDF !important;
}

.app .footer-logo{
    color: var(--color1);
    font-weight: bolder !important;
}
.app h5{
    font-size: 20px;
}

/* contect */

.contect{
    margin-bottom: 5rem;
    background-color: var(--color1);
    color: white;
}

.contect input 
, .contect textarea {
    border-radius: 0 16px 16px 0  !important;
    -webkit-border-radius: 0 16px 16px 0  !important;
    -moz-border-radius: 0 16px 16px 0  !important;
    -ms-border-radius: 0 16px 16px 0  !important;
    -o-border-radius: 0 16px 16px 0  !important;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 2rem;
    border: none !important;
} 

[type=email]{
    direction: rtl !important;
}
.contect input::placeholder
,.contect textarea::placeholder {
 font-size: 14px !important;
    font-weight: 400 !important;
}
.btn-secondary{
    border-radius:  16px  !important;
    -webkit-border-radius:  16px  !important;
    -moz-border-radius:  16px  !important;
    -ms-border-radius:  16px  !important;
    -o-border-radius:  16px  !important;
    background: var(--color5) !important;
    border-color: var(--color5) !important;
    position: relative;
    z-index: 0;
    transition-delay: 800ms;
    overflow-y: hidden;
    display: inline-block;
    color: white !important;

}

.btn-outline-secondary{
    border-radius:  4px  !important;
    -webkit-border-radius:  4px  !important;
    -moz-border-radius:  4px  !important;
    -ms-border-radius:  4px  !important;
    -o-border-radius:  4px  !important;
    color: var(--color5) !important;
    border-color: var(--color5) !important;
    background-color: transparent;
    font-size: 15px !important;
}
.btn-outline-secondary:hover{
    background-color: var(--color5) !important;
    color: white !important;
}
.btn-secondary::before, .btn-secondary::after {
    position: absolute;
    z-index: -1;
    top: 0;
    display: block;
    height: 100%;
    width: 0;
    background-color:#122930;
    content: "";
  }
  .btn-secondary::before {
    left: 0;
  }
  .btn-secondary::after {
    right: 0;
    transition: width 0.3s;
  }
  .btn-secondary:hover::before {
    width: 100%;
    transition: width 0.3s;
  }
  .btn-secondary:hover::after {
    background-color: transparent;
    width: 100%;
  }
.btn-primary{
    background: var(--color8) !important;
    border-color: var(--color8) !important;
    border-radius: 36px;
    padding: 13px 119px;
    position: relative;
    z-index: 0;
    transition-delay: 800ms;
    overflow-y: hidden;
    display: inline-block;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    -ms-border-radius: 36px;
    -o-border-radius: 36px;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
    margin-right: -20px !important;
}



  .btn-primary::before, .btn-primary::after {
    position: absolute;
    z-index: -1;
    top: 0;
    display: block;
    height: 100%;
    width: 0;
    background-color: #cf7a09;
    content: "";
  }
  .btn-primary::before {
    left: 0;
  }
  .btn-primary::after {
    right: 0;
    transition: width 0.3s;
  }
  .btn-primary:hover::before {
    width: 100%;
    transition: width 0.3s;
  }
  .btn-primary:hover::after {
    background-color: transparent;
    width: 100%;
  }


/* footer */

footer .footer-logo{
    color: var(--color1);
    font-size: 30px;
    line-height: 49px;
    font-weight: bolder !important;
}

footer .footer-h {
    line-height: 32px;
    letter-spacing: 0.002em;
    color: var(--color2) ;
    font-weight: bolder !important;
    font-size: 24px;
}

footer p{
    color: var(--color3);
    line-height: 24px;
    margin-bottom: 8px !important;
}

footer p span{
    font-size: 18px;
   
}

footer .socil-icon div{
    width: 48px;
    height: 48px;
    background: var(--color4) ;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
}

footer .socil-icon div i{
 color: var(--color1);
 font-size: 18px;

}

footer .socil-icon div:hover{
    background: var(--color1) !important ;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

footer .socil-icon div:hover  i{
    color: #fff ;
}

footer .nav li a{
    font-size: 16px !important;
    line-height: 24px !important;
    color: var(--color3) !important;
    padding-right: 0px !important;

}
footer .nav li a:hover{
    color: var(--color1) !important;
    margin-right: 4px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.checked{
    color: #FF9000;
}

.contact-page{
    background-color: var(--color4);
}

 .top-title{
     font-size: 16px;
     margin-top: 6rem;
 }
 .top-title .first-link{
     color: #9497A1 !important;
     position: relative;
    
 }

 .top-title .first-link::after{
        content: "";
        position: absolute;
       left: 0%;
        top: 30%;
        bottom: 15%;        
        width: 2px !important;
        height: 14px;
        background-color: #9497A1;
 }

 .top-title .seclink{
    position: relative;
    color: #395B64 !important; 
 }

 .top-title .seclink::before{
    content: "";
    position: absolute;
   left: 0%;
    top: 30%;
    bottom: 15%;        
    width: 2px !important ;
    height: 14px;
    background-color: #9497A1;
}
 .top-title .secnd{
     color: #395B64 !important; 
 }

 .top-title h1{
     color: #292D33;
 }

 .contect-form .btn-primary{
     
    background-color: var(--color1) !important;
    border-color: var(--color1);
    width: 100%;

}
.contect-form .btn-primary:hover{
     
    background-color: var(--color3) !important;
    border-color: var(--color3);
  

} 
.contect-form input
,.contect-form textarea
{
    box-shadow: none !important;
    background-color:  #F9F9F9 !important;
    border: 1px solid rgba(157, 157, 157, 0.11) !important;
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
}

.contect-form input::placeholder
,.contect-form textarea::placeholder{
    font-size: 12px !important;
    color: #959595 !important;
}


.info i{
    color: #395B64;
}

@media (max-width : 990px) {
    .mad{
      align-items: center;
    }
    .info-sec{
        width: 226px !important;
        margin: 0 auto;
    }
}



.info-sec{
    background-color: white;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    height: 140px;
    width: 256px !important;
    
}

.info-sec:hover{
    background-color: #395B64;
    color: white !important;
    

    
}
.info-sec:hover .ans{
color: white;
}
.info-sec .ans{
    color: #6F6F6F;
    justify-content: center;
}

.form-check-input:checked{
    background-color: var(--color1) !important;
    border-color: var(--color1) !important;
}

.havestore {
  font-size: 13px !important;
   color: #828282;
   position: relative;
   text-align: center;
}
.havestore::after {
    content: "";
    position: absolute;
    background-color: #828282;
   height: 1px;
    width: 100px;
    right: 0;
    top: 50%;

}

.havestore::before {
    content: "";
    position: absolute;
    background-color: #828282;
   height: 1px;
    width: 100px;
    left: 0;
    top: 50%;

}

.pad-sec{
 padding: 3rem;
}

.store{
    padding: 1.5rem 3rem;
}

@media (max-width : 1200px) and (min-width : 992px) {
  
    .pad-sec{
        padding-bottom: 6.2rem !important;
       }
       .store{
        padding: 3.2rem 3rem !important;
    }
}

@media (max-width : 1400px) and (min-width : 1200px) {
  
    .pad-sec{
        padding-bottom: 5.8rem !important;
       }
       .store{
        padding: 3rem !important;
    }
       
}


@media (max-width : 992px) and (min-width : 767px) {
  
   .havestore::before{
       width: 120px !important;
   }
   .havestore::after{
    width: 120px !important;
}
       
} 
@media (max-width : 440px) and (min-width : 400px)  {
  
    .havestore::before{
        width: 80px !important;
    }
    .havestore::after{
     width: 80px !important;
 }
        
 } 
 @media (max-width : 400px) {
     
    .havestore::before{
        width: 30px !important;
    }
    .havestore::after{
     width: 30px !important;
 }
        
 } 
    

.forget a{
  font-size: 11px;
   color: #222222;
}

.forget a:hover{
    font-size: 11px;
     color: #54BAB9 !important;
  }
  

  .havaco{
    font-size: 12px !important;
     text-align: center !important;
      margin-bottom: 1.1rem !important;
  }

  .havaco a{
    color: #54BAB9 !important;
     text-decoration: underline !important
  }
  .havaco a:hover{
    color: #122930 !important;
     
  }

  .readonlyinput input{
    background: #FFFFFF !important;
border: 1px solid #54BAB9 !important;
font-size: 12px;
  }

  .blog-img{
    overflow: hidden !important;
    border-radius: 12px 12px 0px 0px;
 
}

 .blogs .blog-img img:hover{
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transition: all 1s;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      border-radius: 12px 12px 0px 0px;
}

.blog-content h6{
    font-weight: bolder;
    font-size: 13px !important;
    color: #9497A1;
}
.blog-content h3{
    font-weight: bolder;
    font-size: 20px !important;
    color: #292D33;
}

.blog-content p{
    font-size: 13px !important;
    color: #9497A1;
    line-height: 24px;
}

.blog-content .blog-tag {
    
    font-size: 12px;
    border: 1px solid #717e7f1a;
border-radius: 12px;

}

.blog-content .blog-tag p{
    color: #FF9000 !important;
}
.blog-content .blog-tag:hover{
    background-color: #122930;

}
.blog-content .blog-tag:hover p{
    color: white !important;
}

.blog-content:hover h3{
    color: #54BAB9 ;
}

.btn-info{
     padding: 12px 53px;
     gap: 8px;
     background: #FF9000 !important;
     border-color: #FF9000 !important;
     box-shadow: 0px 9px 50px rgba(255, 144, 0, 0.3) !important;
     border-radius: 46px;
     color:#fff !important;
     transition:  all 0.5s    ;
     -webkit-transition:  all 0.5s    ;
     -moz-transition:  all 0.5s    ;
     -ms-transition:  all 0.5s    ;
     -o-transition:  all 0.5s    ;
}
.btn-info:hover{
    background: #122930 !important;
    border-color: #122930 !important;
    box-shadow: 0px 9px 50px #4e6167 !important;
}

.blogs-detiles .blog-img{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    overflow: hidden;
}
.blogs-detiles .blog-img img{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;

}

.blogs-detiles p{
    color: #9497A1;
    font-size: 18px !important;
    line-height: 38px;
}

.blog-icon a{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #9497A1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.blog-icon a:hover{
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
.blog-icon a i{
   color: white !important;
   font-size: 8px;
}

.search input{
    background: #FFFFFF !important;
    border: 1px solid rgba(165, 201, 202, 0.4) !important;
    border-radius: 6px !important;
    -webkit-border-radius: 0 6px 6px 0 !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
}

.search input::placeholder{
    color: rgba(34, 34, 34, 0.2) !important;
    font-size: 14px !important;
    padding-right: 20px;

}

.search input{
    padding: .8rem 0;
    padding-right: 20px;
}

 .search .btn-secondary{
    border-radius:  6px  !important;
    -webkit-border-radius:  6px  !important;
    -moz-border-radius:  6px  !important;
    -ms-border-radius:  6px  !important;
    -o-border-radius:  6px  !important;
    background: #54BAB9 !important;
    border-color: #54BAB9 !important;
    position: relative;
    z-index: 0;
    transition-delay: 800ms;
    overflow-y: hidden;
    display: inline-block;
    color: white !important;

}

.search .btn-secondary::before, .search .btn-secondary::after {
    position: absolute;
    z-index: -1;
    top: 0;
    display: block;
    height: 100%;
    width: 0;
    background-color:#122930;
    content: "";
  }
  .search .btn-secondary::before {
    left: 0;
  }
  .search .btn-secondary::after {
    right: 0;
    transition: width 0.3s;
  }
  .search .btn-secondary:hover::before {
    width: 100%;
    transition: width 0.3s;
  }
   .search .btn-secondary:hover::after {
    background-color: transparent;
    width: 100%;
  }

  .post h6{
    font-size: 12px !important;
    color: #9497A1;
  }

  .post p{
      font-size: 12px !important;
      color: #292D33;
      line-height: 1.5rem !important;
  }

  .post .more a{
      color: #54BAB9 !important;
      font-weight: bold;
      font-size: 14px !important;


  }

.post .more i{
    color: #54BAB9 !important;
    font-weight: bold;
    display: none;


}

.post .more:hover{
    margin-right: 3px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.post .more:hover i{
    display: block;
}
.post .blog-img img{
    border-radius: 6px;
  
}
.post .blog-img img:hover{

  
    opacity: 50%;
}

.smpost .blog-img{
        overflow: hidden !important;
        border-radius: 12px 12px 0px 0px !important;
        -webkit-border-radius: 12px 12px 0px 0px !important;
        -moz-border-radius: 12px 12px 0px 0px !important;
        -ms-border-radius: 12px 12px 0px 0px !important;
        -o-border-radius: 12px 12px 0px 0px !important;
}
.smpost .blog-img img{
    border-radius: 12px 12px 0px 0px !important;
    -webkit-border-radius: 12px 12px 0px 0px !important;
    -moz-border-radius: 12px 12px 0px 0px !important;
    -ms-border-radius: 12px 12px 0px 0px !important;
    -o-border-radius: 12px 12px 0px 0px !important;
}

.smpost .col-lg-3{
    border-radius: 12px 12px 0px 0px !important;
    -webkit-border-radius: 12px 12px 0px 0px !important;
    -moz-border-radius: 12px 12px 0px 0px !important;
    -ms-border-radius: 12px 12px 0px 0px !important;
    -o-border-radius: 12px 12px 0px 0px !important;
}

.smpost h3{
    font-size: 14px !important;
}

.smpost p{
    font-size: 14px !important;
    line-height: 26px !important;
}

figure {
	position: relative;
    overflow: hidden;
    
}
figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
figure:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
  
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}


figure img {
    transition: transform .5s .2s ease;
    -webkit-transition: transform .5s .2s ease;
    -moz-transition: transform .5s .2s ease;
    -ms-transition: transform .5s .2s ease;
    -o-transition: transform .5s .2s ease;
}
  
  /* The Transformation */
  figure:hover img {
    transform: scale(2) rotate(10deg);
    -webkit-transform: scale(2) rotate(10deg);
    -moz-transform: scale(2) rotate(10deg);
    -ms-transform: scale(2) rotate(10deg);
    -o-transform: scale(2) rotate(10deg);
}


.aboutus p{
    color: #9497A1;
    font-size: 16px !important;
    line-height: 35px;
}

.bg-gry{
    background: #F2F4F6 !important;
   
}

.table>:not(caption)>*>*{
    padding: 2rem !important;
   
}

td , th{
     border-bottom: none !important;
}

.mytable>tbody>tr>td {
    padding: 1.5rem !important;
   
}
.mytable>tbody>tr>th {
    padding: 1.5rem !important;
}

.table>:not(:last-child)>:last-child>*{
    border-bottom: none !important;
}

 th{
   
}
.end-point{
    border-radius: 16px 0px 0px 0px !important;
    -webkit-border-radius: 16px 0px 0px 0px !important;
    -moz-border-radius: 16px 0px 0px 0px !important;
    -ms-border-radius: 16px 0px 0px 0px !important;
    -o-border-radius: 16px 0px 0px 0px !important;
}
.start-point{
    border-radius: 0px 16px 0px 0px !important;
    -webkit-border-radius: 0px 16px 0px 0px !important;
    -moz-border-radius: 0px 16px 0px 0px !important;
    -ms-border-radius: 0px 16px 0px 0px !important;
    -o-border-radius: 0px 16px 0px 0px !important;
}

.wrong{
    color: white !important;
}

.stik{
    position: sticky;
    top: 10%;
    width: 100% !important;
    background-color: #F2F4F6 !important;
}
.stik1{
    position: sticky;
    top: 25%;
    width: 100% !important;
    background-color: #F9FAFB !important;
}


.image-upload{
    position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 100% !important;

}

.image-upload label {
    width: 100% !important; 
}
.image-upload input {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        width: 100% !important;
        cursor: pointer;
    }


.upload-field .file-thumbnail {

  cursor: pointer;
  border: 1px dashed rgba(157, 157, 157, 0.4);
border-radius: 4px;
  text-align: center;
  padding: 20px;
  height: 100px;
  overflow: hidden;
  
}



#image-preview2
,#image-preview1
,#image-preview{
  width: 30px
}



.upload-field .file-thumbnail p {
  font-size: 11px;
  color: #959595;
  margin-top: 20px;
}

.lines3{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.lines5{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.orjtag{
    color: #FF9000; 
    font-weight: bold;
}
.activetag{
    background: #395B64;
border-radius: 6px;
color: white !important;
display: flex;
justify-content: center;
align-items: center;
padding: 5px 10px;
}

.thw{
    width: 35%;
}

.wth1{
    width: 20%;
}
@media (max-width:400px) {
    .thw{
        width: 10%;
    }
    
    .wth1{
        width: 5%;
    }
}


.sendagien{
    color: #54BAB9 !important;
    font-weight: bolder;
    font-size: 10px;
    text-decoration: underline !important;
    text-align: center !important;
}

.surebtn{
border-radius: 4px !important ; 
 font-size: 15px !important; 
 margin-bottom: 0.8rem;
 background-color: #54BAB9 !important;
 border-color: #54BAB9 !important;
}
.surebtn1{
    border-radius: 4px !important ; 
 font-size: 15px !important; 
 margin-bottom: 0.8rem;
}


.ms-55{
    margin-right: 5rem;
}
@media (max-width : 400px) {
    .ms-55{
        margin-right: 0;
    }
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF !important;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}


.float {
    animation: zoom-in-zoom-out 1s ease-out infinite;
    -webkit-animation: zoom-in-zoom-out 1s ease-out infinite;
}
  
  @keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
  }
  

